CREATE A FILE CALLED aoc_cookie IN THIS LOCATION CONTAINING YOUR AOC SESSION COOKIE

YOU CAN RETRIEVE YOUR COOKIE BY LOGGING INTO https://adventofcode.com AND EITHER:

INSPECTING THE NETWORK TAB (FOR THE REQUEST FOR THE CURRENT PAGE - SHOULD HAVE A SET-COOKIE HEADER WITH session=xyz)
INSPECTING THE STORAGE TAB AND LOOKING FOR COOKIES / session
