namespace AOC2015.Days;

public class Day00 : Day
{
    public Day00(string[] data) : base(data) { }

    public override string PartA()
    {
        return "";
    }

    public override string PartB()
    {
        return "";
    }
}
